html {

margin: 0;
padding: 0;
height: 100%;
width: 100%;
overflow: hidden;

}
body{

    margin: 0;
    padding: o;
    height: 100%;
    width: 100%;
    background-color: darkgray
    overflow:hidden;
    overflow-x:hidden;
}

.banner{

     margin: 0px auto;
     padding: 0;
     height: 20%;
     widows: 100%;
     overflow: hidden;
     border:solid;
     background-color: darkgray;
     border-color:black;
     border-width:0px 0px 5px 0px;


}